.navbar-brand {
  margin-left: 45px;
  font-size: 25px;
}

.navbar {
  height: 80px;
  /* border: 2px solid #f2dfdf; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.score {
  margin-right: 30px;
}

.high-score {
  margin-right: 40px;
}

.clickResponse {
  margin-right: 120px;
  padding-right: 250px;
  color: darkorchid;
  font-size: 20px;
}
