/* images {
  height: 200px;
  width: 225px;
  padding: 20px;
  margin: 20px;
} */

.card-container {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
}
